
<div style="background-image: url('../../../assets/general/5.png');width:100%;height: 50%;" (click)="a4A()">
  <ion-row>
    <ion-col style="padding-left: 300px;">
      <button type="button" class="btn" id="btnLogs" (click)="logOut()">
        <img id="imgBotonesLog" src="../../../assets/general/logout.jpg">
      </button>
    </ion-col>
  </ion-row>
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh;">PPS-4A</p>
  </div>
</div>

<div style="background-image: url('../../../assets/general/6.png'); width: 100%;height: 50%;" (click)="a4B()">
  <div style="width: 512px;  border-top: 10px solid white;">
    <p class="custom-center">PPS-4B</p>
  </div>
</div>
